<div class="container">
  <h3>LogIn Form</h3>

  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="logIn()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="00" formControlName="email" type="email" />
        <mat-hint>Enter Email</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input matInput placeholder="00" formControlName="password" type="password" />
        <mat-hint>Enter password</mat-hint>
      </mat-form-field>
    </p>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>

  <br>
  <p>Don't have an account? Please sign up with us first!</p>
  <a mat-raised-button color="primary" [routerLink]="['/signup']">Register</a>
</div>