.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100% !important;
  width: 100% !important;

  height: 100vh;
  flex-direction: column;
  background-color: rgba(0, 255, 255, 0.993);
  -moz-text-decoration-color: rgb(240, 248, 255);
}
