.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100% !important;
  width: 100% !important;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(250, 235, 215, 0.479);
  -moz-text-decoration-color: rgb(240, 248, 255);
}

h3 {
  font-family: "Courier New", monospace;
  font-weight: 900;
  color:orangered;
  font-size: 20px;
}

p {
  font-family: "Courier New", monospace;
  font-weight: 900;
  color:orangered;
  font-size: 16px;
  font-style: italic;
}
