<div class="admin-page-container">

  <div class="add-car">
    <a mat-raised-button color="primary" [routerLink]="['/addcar']">Add Cars</a>
  </div>

  <div class="car-list">
    <div class="car-image"></div>
    <div class="car-detail"></div>

    <div class="car-action"></div>
  </div>
  <div class="car-list" *ngFor="let car of carsList">
    <div class="car-image">

      <img [src]="car.pictureUrl" alt="" srcset="">

    </div>
    <div class="car-detail">

      <p>price:{{car.price}}</p>
      <p>year:{{car.year}}
      </p>
      <p>mpg:{{car.mpg}}</p>

    </div>

    <div class="car-action">

      <button mat-raised-button color="primary">Update</button>

      <button mat-raised-button color="warning">Delete</button>

    </div>
  </div>
</div>