.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  max-width: 100% !important;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(250, 235, 215, 0.479);
}
