<footer class="row">
  <mat-toolbar>
    <span calss="getintouch">Get In Touch</span>
  </mat-toolbar>
  <mat-icon class="home">home</mat-icon>
  <span class="whrs"><mat-icon>working hours</mat-icon></span>
  <mat-list>
    <div class="list">
      <mat-list-item> <span>street: Mercedes Dr </span> </mat-list-item>
      <mat-list-item> <span>city: Vance </span> </mat-list-item>
      <mat-list-item> <span>state: AL </span> </mat-list-item>
      <mat-list-item> <span>zip: 35490 </span> </mat-list-item>
      <mat-list-item> <span>phone: 800-000-0000 </span> </mat-list-item>
      <mat-icon class="loc"> add_location </mat-icon>
      <a
        href="https://www.google.com/maps/dir/41.0124018,-91.9783676/location+of+mercedes+benz+factory+in+usa/@37.0110993,-93.8616017,6z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x8888b702a9722f05:0xc45880f3d2726585!2m2!1d-87.2625038!2d33.184085https://www.google.com/maps/@44.104268,-70.2021159,15z"
      >
        location</a
      >
    </div>

    <div class="whrs">
      <mat-list-item><span> Monday: 10AM - 5PM</span> </mat-list-item>
      <mat-list-item><span>Tuesday: 10AM - 5PM</span> </mat-list-item>
      <mat-list-item
        ><span>Wednesday: 10AM-5PM </span
        ><span> <youtube-player videoId="-4zsY28t76k"></youtube-player> </span
      ></mat-list-item>
      <mat-list-item><span>Thursday: 10AM - 5PM </span></mat-list-item>
      <mat-list-item><span>Friday: 10AM - 5PM </span></mat-list-item>
      <mat-list-item><span>Saturday: 10AM - 5PM </span></mat-list-item>
      <mat-list-item><span>Sunday: closed </span></mat-list-item>
    </div>
  </mat-list>
</footer>
