youtube-player {
    
    float: right;
   
}
.list {
    float: left;
    color: white;
     padding-left: 9px;
}

.whrs{
   
    color: white;
    padding-left: 300px;
    
}
footer{
    
    background-color:black;
    color: white;
}
span{
   
    color: white;
}
mat-toolbar {
    background-color: black;
}
mat-toolbar{
padding-left: 200px;
}
a{
    color: darkgoldenrod;
    font-size: x-large;
    padding-left: 10px;
}
.loc{
    padding-left: 10px;
}
span + span {
    margin-left: 200px;
    padding-bottom: 10px;
}
.home{
    padding-left: 70px;
}